        <div id="mainContainer">
            <div id="navBar">
                
                <div id="brandLogo">
                    
                    <img id="brandImage" src="assets/ed-logo-biggest.png">
                </div>
                <div id="navbarOptions">
                    <div (click)="clicked(tab)" class="navbarButton" *ngFor="let tab of tabs" (click)="toggleResource()" [@moveTab]='state' >
                        <a>{{tab}}</a>
                    </div>
                    
                    
                    <input (keyup)="userPressedTabInputKey($event)" [(ngModel)]="newTabName"/><button (click)="newTab()">Create New tab </button> 
                 
                </div>
            </div>

            <div id="content">
                <div id="searchBar">
                    <p id="searchBarTitle" >{{currentTab}}</p>
                    <div id="searchInput">
                    <!--<a class="addResource"> Add Resource </a>-->
                    <a class="waves-effect waves-light btn" (click)="openModal()" href="#modal1">Add Resource</a>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Create a resource in {{currentTab}}</h4>
                            <label for="first_name">Title</label>
                            <input class="title"(keyup)="userPressedResourceInputKey($event)" [(ngModel)]="newResourceTitle"/>
                            <label for="first_name">Link</label>
                            <input class="link"(keyup)="userPressedResourceInputKey($event)" [(ngModel)]="newResourceLink"/>
                            <label for="first_name">Description</label>
                            <input class="description" (keyup)="userPressedResourceInputKey($event)" [(ngModel)]="newResourceDescription"/>
                        </div>
                        <div class="modal-footer">
                            <a (click)="addResource()" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="Materialize.toast('Resource Added!', 3000, 'rounded')">Create</a>
                        </div>
                    </div>                    
                    <!--<input type="text" name="searchterm" placeholder="Search Resources">-->
                    </div>
                </div>
                <div id="mainContentWindow">
                    <div id="resourceBox" >
                        <div id="singleResource" (click)="toggleResource()" [@movePanel]='state'  *ngFor="let resource of currentResources">
                        
                        <h3><a href="{{resource.link}}" target='_blank'>{{resource.title}}</a></h3>
                        <p> {{resource.description}} </p>
                        <p style="text-align: right;"><i> Last Updated on {{ resource.time }} </i></p>
                        </div>
                   
                    
                        
                    </div>

                    
                </div>
            </div>
        </div>
